.sidebar {
    // height: 100%;
    width: 25%;
    background: #2c2d31;
    padding: 70px 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    text-align: center;

    .xalq {
        color: #fff;
        text-decoration: none;
    }
    .link {
        text-decoration: none;
    }
}